* {
    /* border: 1px solid grey !important; */
}
html {
    font-size: 62.5%;
}
/*HEADER=====HEADER=====HEADER=====HEADER=====HEADER=====HEADER=====*/
header {
    height: 25vh;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    position: fixed;
    width: 100%;
    font-family: 'Syncopate', sans-serif;
    font-size: 1.3rem;
    padding: 2%;
    color: black;
    background-color: #E2EDE8;
}
nav a {
    color: black;
    padding: 2%;
}
h1 {
    padding: 22% 3% 10% 3%;
    font-size: 4rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    z-index: 1;
    color: black;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2px solid black;
}
h2 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*SECTION-ONE=====SECTION-ONE=====SECTION-ONE=====SECTION-ONE=====*/
#section-one {
    height: 75vh;
}