* {
    /* border: 1px solid grey !important; */
}
html {
    font-size: 62.5%;
}
/*HEADER=====HEADER=====HEADER=====HEADER=====HEADER=====HEADER=====*/
header {
    /* height: 7vh; */
}
nav {
    font-size: 1.3rem;
    padding: 4%;
    background-color: #E2EDE8;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
}
nav a {
    color: black;
}
#top {
    background-image: url("assets/happy-ethnic-woman-sitting-at-table-with-laptop-3769021.jpg");
    background-size: cover;
    background-position: center;
    height: 68vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 {
    padding: 3%;
    font-size: 4rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    z-index: 1;
    color: black;
    text-align: center;
    margin-top: 5%;
}

#top::after {
    content: "";
    background-image: linear-gradient(to top, white, #9CC4B2);
    opacity: .3;
    top: 6.5vh;
    left: 0;
    bottom: 0;
    right: 0;
    height: 68.1vh;
    width: 100%;
    position: absolute;
    z-index: 0; 
}

#top h2 {
    margin-top: 32vh;
    width: 100%;
    padding: 3%;
    z-index: 1;
    font-size: 2.1rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: black;
    font-weight: 600;
    background: rgba(255, 255, 255, .3)

}
#top a {
    margin-top:2%;
    padding: 3% 9%;
    z-index: 1;
    font-size: 2rem;
    color:white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgba(11, 41, 28, .7);
    text-decoration: none;
    z-index: 1;
}

#lower {
    height: 25vh;
    background-color: ivory;
    color: black;
}
#lower h3 {
    font-size: 2rem;
    text-align: center;
    padding: 6%;
    font-family: 'Staatliches', cursive;
}
#icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon {
    text-align: center;
}
.icon i {
    font-size: 3rem;
}
.icon p {
    font-size: 1.1rem;
    padding: 8%;
    font-family: 'Staatliches', cursive;
}